#box{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 40px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid #ff3503;
   position: relative;
   opacity: 1;
   
}

body{
   display:flex;
   align-items: center;
   justify-content: center;
   background-image: url(login.jpg);
   background-size: cover;
   
}

.link{
   color:rgb(235, 53, 7);
   text-decoration: none;
}

.conatiner{
   width:400px;
   height: 200px;
   border-radius: 50px; 
   margin-top: 200px;
}

